<app-navbar></app-navbar>

<div class="container-fluid d-flex justify-content-center align-items-center"
     style="
     background-image: url('assets/Login.jpg');
     background-size: cover;
     background-position: center;
     min-height: 90vh;
     ">

    <div class="bg-white p-4 rounded shadow" style="width: 400px; opacity: 0.95;">

        <h2 class="text-center mb-3 text-primary">
            <i class="fa fa-key"></i> Change Password
        </h2>

        <!-- Message -->
        <div style="height: 20px; margin-bottom: 10px; text-align: center;">
            <h6 class="text-success" *ngIf="!form.error && form.message">{{ form.message }}</h6>
            <h6 class="text-danger" *ngIf="form.error && form.message">{{ form.message }}</h6>
        </div>

        <!-- Form Table (same structure) -->
        <table class="table table-borderless">

            <tr>
                <th>Old Password<span class="text-danger">*</span></th>
                <td>
                    <input type="password" class="form-control"name="oldPassword"[(ngModel)]="form.data.oldPassword"placeholder="Enter Old Password">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-danger">{{form.inputerror.oldPassword}}</td>
            </tr>


            <tr>
                <th>New Password<span class="text-danger">*</span></th>
                <td>
                    <input type="password" class="form-control"name="newPassword"[(ngModel)]="form.data.newPassword"placeholder="Enter New Password">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-danger">{{form.inputerror.newPassword}}</td>
            </tr>


            <tr>
                <th>Confirm Password<span class="text-danger">*</span></th>
                <td>
                    <input type="password" class="form-control"name="confirmPassword"[(ngModel)]="form.data.confirmPassword"placeholder="Enter Confirm Password">                    
                </td>
            </tr>


            <tr>
                <td colspan="2" class="text-danger">{{form.inputerror.confirmPassword}}</td>
            </tr>

            <tr>
                <td colspan="2" class="text-center">
                    <button class="btn btn-primary w-100" (click)="changePassword()">
                        <i class="fa fa-save"></i> Change Password
                    </button>
                </td>
            </tr>

        </table>

    </div>
</div>

<app-footer></app-footer>
