<style type="text/css">
    div.sticky {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #363636ff; /* Dark background */
        color: #f4efef;            /* White text */
        padding: 15px 0;
        z-index: 1000;
        border-top: 1px solid #b8c1c2; /* subtle border */
    }

    div.sticky hr {
        border-color: #131111; /* dark hr line */
    }
</style>

<div class="sticky">
   
    <strong>Copyrights &copy; Rays Technologies</strong>
</div>